@import "src/assets/scss/var";

.button {
  min-width: 140px;
  line-height: 1;
  height: 44px;
  padding: 10px 16px;
  font-size: 16px;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  border-radius: 8px;
  font-weight: 600;

  &_icon {
    width: auto;
    min-width: auto;
    height: auto;
    box-shadow: none;

    &:hover,
    &:focus {
      path {
        fill: $color_accent_hover !important;
      }
    }

    &:active {
      path {
        fill: $color_accent_pressed !important;
      }
    }
  }

  &_default {
    border-color: $color_dark_terteriary;

    &:hover,
    &:focus {
      color: $color_accent_primary;
      border-color: $color_accent_primary;
    }

    &:active {
      color: $color_accent_pressed;
      border-color: $color_accent_pressed;
    }
  }

  &_primary {
    color: $color_white;
    border-color: $color_accent_primary;
    background-color: $color_accent_primary;

    &:hover,
    &:focus {
      color: $color_white;
      border-color: $color_accent_hover;
      background-color: $color_accent_hover;
    }

    &:active {
      border-color: $color_accent_pressed;
      background-color: $color_accent_pressed;
    }
  }

  &_dark {
    color: $color_white;
    border-color: $color_black;
    background-color: $color_black;

    &:hover,
    &:focus {
      color: $color_white;
      border-color: $color_dark_secondary;
      background-color: $color_dark_secondary;
    }

    &:active {
      border-color: $color_dark_primary;
      background-color: $color_dark_primary;
    }
  }

  &_link {
    border: none;
  }

  &_middle {
    height: 44px;
    padding: 10px 16px;
    font-size: 16px;
  }

  &_small {
    height: 36px;
    padding: 8px 14px;
    font-size: 14px;
  }

  &_large {
    height: 52px;
    padding: 14px 20px;
  }

  &_mini {
    min-width: fit-content;
    height: 32px;
    font-size: 14px;
    padding: 8px 14px;
  }

  &_icon {
    &.button_small {
      padding: 5px;
    }

    &.button_middle {
      padding: 9px;
    }

    &.button_large {
      padding: 13px;
    }

    &.button_mini {
      padding: 3px;
    }
  }
}

.button:disabled {
  color: $color_dark_terteriary;
  border-color: $color_dark_disabled;
  background-color: $color_dark_background;

  &:hover,
  &:focus,
  &:active {
    border-color: $color_dark_disabled;
    background-color: $color_dark_background;
  }
}
