@import "src/assets/scss/var";

.block {
  &_shadow {
    width: 100%;
    box-shadow: $shadow_level_2;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;
    padding: 42px 55px;
  }
}

@media screen and (max-width: $screen_phone) {
  .block {
    &_mobile {
      padding: 0;
      box-shadow: none;
      -webkit-border-radius: 0;
      -moz-border-radius: 0;
      border-radius: 0;
    }
  }
}